#===Network
github "ishkawa/APIKit" == 5.1.0

#===DI
github "Swinject/Swinject" == 2.6.0
github "Swinject/SwinjectStoryboard" == 2.2.0

#===Test
#github "Quick/Quick" ~> 1.2.0
#github "Quick/Nimble" ~> 7.0.3
github "AliSoftware/OHHTTPStubs"
#github "uber/ios-snapshot-test-case" ~> 6.1.0
